<h1>Editing Channel</h1>

<%= render 'form', channel: @channel %>

<%= link_to 'Show', @channel, class:'button is-primary is-light is-small' %> |
<%= link_to 'Back', channels_path, class: 'button is-link is-light is-small' %>
